<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402689578630-agb4vq8c323501oa9dk40enab3o0pgqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402689578630-agb4vq8c323501oa9dk40enab3o0pgqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBpimkuLUeSuv7pFzAYccfANtX5Z-H6BeM</string>
	<key>GCM_SENDER_ID</key>
	<string>402689578630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.questionu</string>
	<key>PROJECT_ID</key>
	<string>quizzle-e3b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzle-e3b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402689578630:ios:3604514b86f4514ecee307</string>
</dict>
</plist>